<div class="main jackets-show">
  <div class="container">
    <div class="jackets-show-item">
    <div class="show_jacket-top">
        <img src="<%= "/jacket_images/#{@jacket.image}" %>">
      </div>
      <div class="show_jacket-down">
      <p>ブランド：
       <%= @jacket.content %>
      </p>
      </div>
      <div class="show_jacket-down">
      <p>色：
       <%= @jacket.color %>
      </p>
      </div>
      <div class="show_jacket-down">
      <p>サイズ：
       <%= @jacket.size %>
      </p>
      </div>
    <div class="jacket-menus">
      <%= link_to("編集", "/jackets/#{@jacket.id}/edit") %>
      <%= link_to("削除", "/jackets/#{@jacket.id}/destroy", {method: "post"}) %>
    </div>
    </div>
  </div>
</div>