<div class="main t_shirts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/t_shirts/#{@t_shirt.id}/update",{multipart: true}) do %>
    <div class="form">
      <div class="form-body">
        <% @t_shirt.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
        <p>画像の変更</p>
        <input name="image" type="file">
        <p>ブランドの変更</p>
        <textarea name="content"><%= @t_shirt.content %></textarea>
        <p>色の変更</p>
        <textarea name="color"><%= @t_shirt.color %></textarea>
        <p>サイズの変更</p>
        <textarea name="size"><%= @t_shirt.size %></textarea>
        <input type="submit" value="保存">
      </div>
    </div>
    <% end %>
  </div>
</div>