<div class="main sweatshirts-new">
  <div class="container">
    <h1 class="form-heading">追加する</h1>
    <%= form_tag("/sweatshirts/create",{multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @sweatshirt.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>ブランド</p>
          <textarea name="content"><%= @sweatshirt.content %></textarea>
          <p>色</p>
          <textarea name="color"><%= @sweatshirt.color %></textarea>
          <p>サイズ</p>
          <textarea name="size"><%= @sweatshirt.size %></textarea>
          <input type="submit" value="追加">
        </div>
      </div>
    <% end %>  
  </div>
</div>